%h2 Sign up

= form_tag :method => :get do

    = label :user, :name, 'User name*'
    = text_field :user, :name

    = label :user, :password, 'Password*'
    = password_field :user,:password

    = submit_tag 'Sign up'

%h4 * Campi obbligatori
