<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset="UTF-8"/>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet"/>  </head>
  <body>
    <%= yield %>
    <div class="backgroundImg">
      <% @background = ["https://bisqwit.iki.fi/jutut/kuvat/animmerger/method-c.gif", "https://www.retrogamescollector.com/wp-content/uploads/2015/04/ALOZALTTP.png", "https://thumbs.gfycat.com/LoneAliveAdeliepenguin-small.gif", "https://media3.giphy.com/media/q9Kn9fZvznhuw/source.gif", "https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.gifer.com%2FOPXE.gif&imgrefurl=https%3A%2F%2Fgifer.com%2Fen%2FOPXE&tbnid=tdq1iR2UeyRn4M&vet=12ahUKEwiurI_7s43pAhVICuwKHXD_DJ8QMygCegUIARCdAg..i&docid=7VIxq-M3QCx-4M&w=480&h=318&q=pokemon%20game%20gif&ved=2ahUKEwiurI_7s43pAhVICuwKHXD_DJ8QMygCegUIARCdAg", "https://cdnb.artstation.com/p/assets/images/images/022/387/775/original/caleb-barefoot-master-sword-hexel-animated2.gif?1575264646"] %>
      <% wp = @background.sample %>
      <%= image_tag (wp), class: "background" %>
      <div class="overlay"></div>-->
    </div>
  </body>
</html>
