%h1 All Reviews of #{@user.name}

%table#reviews
    %thead
        %tr
            %th Film
            %th Voto
            %th Commento
            %th Edit
            %th Delete
        %tbody
        - @reviews.each do |review|
            %tr
                %td= Movie.find(review.movie_id).title
                %td= review.potatoes
                %td= review.comments
                %td= link_to 'Edit' , edit_movie_review_path(Movie.find(review.movie_id),review.id)
                %td= link_to 'Delete' , movie_review_path(Movie.find(review.movie_id),review.id), :method => :delete

%table#link
    %tr
        %th #{link_to 'Back to the main menu', movies_path}

