%h1 All Movies

%table#movies
    %thead
        %tr
            %th Title
            %th Rating
            %th Release Date
            %th More Info
        %tbody
        - @movies.each do |movie|
            %tr
                %td= movie.title
                %td= movie.rating
                %td= movie.release_date
                %td= link_to "Details", movie_path(movie)
%table#link
    %tr
        %th #{link_to 'Delete all movies', deleteAll_path}
    %tr
        %th #{link_to 'Logout', login_path}
