!!!
%html{:lang => "en", class: "container"}
  %head
    %title Favorites - VGDatabase
  %body.visible
    %aside.sidebar.normal
      %nav
        %ul.sidebar__nav
          %li
            %a.sidebar__nav__link_plain_img
              =image_tag ('logo-normal.png')
          %li
            %a.sidebar__nav__link{:href => homepage_path, "data-method" => "get"}
              %i.mdi.mdi-home
              %span.sidebar__nav__text Homepage
          %li
            %a.sidebar__nav__link{:href => myLibrary_path, "data-method" => "get"}
              %i.mdi.mdi-library-movie
              %span.sidebar__nav__text My library
          %li.active
            %a.sidebar__nav__link_plain{}
              %i.mdi.mdi-star
              %span.sidebar__nav__text  Favorites
          %li
            %a.sidebar__nav__link{:href => searchGame_path, "data-method" => "get"}
              %i.mdi.mdi-database-search
              %span.sidebar__nav__text Search
          %li
            %a.sidebar__nav__link{:href => friends_path, "data-method" => "get"}
              %i.mdi.mdi-account-multiple
              %span.sidebar__nav__text Friends
          %li
            %a.sidebar__nav__link{:href => myProfile_path, "data-method" => "get"}
              =image_tag (@user.avatar), class: "img3"
              %span.sidebar__nav__text My account
          %li
            %a.sidebar__nav__link{:href => login_path, "data-method" => "delete"}
              %i.mdi.mdi-logout-variant
              %span.sidebar__nav__text Log out 
          %li
            %a.sidebar__nav__link{:href => contactUs_path, "data-method" => "get"}
              %i.mdi.mdi-information
              %span.sidebar__nav__text Contact us
    %br/
    - @lunghezza = @library.where(:user_id => @user.id).length
    - if @lunghezza==0
      %h1 You don't have any game in your favorites
    - elsif @lunghezza==1
      %h1 You have #{@lunghezza} game in your favorites
    -else
      %h1 You have #{@lunghezza} games in your favorites
    %div.page-content
      %a.sortOnly{:href => "#"}
        %span Sort
        %i.mdi.mdi-filter-variant
      /%a.editText{:href => editFavorites_path, "data-method" => "get"}
      /  %span Start editing
      /  %i.mdi.mdi-pencil
      - @library.each do |game|
        - if (game.user_id == @user.id) 
          - @games = Game.find(game.game_id)
          /%h2 Il gioco cercato ha id #{@games.id}, si chiama #{@games.title} ed appartiene a #{@user.username} 
          .card
            - if (game.favorite == "true")
              %a.mdi.mdi-star.dot{:href => game_mylibrary_path(@games.id,game.id), "data-method" => "put"}
            - else             
              %a.mdi.mdi-star-outline.dotCard{:href => game_mylibrary_path(@games.id,game.id), "data-method" => "put"}
            /only present if the game is in your library and not in favorites
            /if the game is in favorites, the the full star should appear
            .content.cardPadding
              %p.description Genre: #{@games.genre}
              %p.description Platforms: #{@games.platform}
              %a.btn{:href => game_path(game.game_id), "data-method" => "get"} View info 
            %img.cover{:alt => "Game image cover", :src => "#{@games.cover}"}
          