!!!
%html{:lang => "en", class: "container"}
  %head
    %title #{@games.title} - VGDatabase
  %body.visible
    %aside.sidebar.normal
      %nav
        %ul.sidebar__nav
          %li
            %a.sidebar__nav__link_plain_img
              =image_tag ('logo-normal.png')
          %li
            %a.sidebar__nav__link{:href => homepage_path, "data-method" => "get"}
              %i.mdi.mdi-home
              %span.sidebar__nav__text Homepage
          %li
            %a.sidebar__nav__link{:href => myLibrary_path, "data-method" => "get"}
              %i.mdi.mdi-library-movie
              %span.sidebar__nav__text My library
          %li
            %a.sidebar__nav__link{:href => myLibraryFavorites_path, "data-method" => "get"}
              %i.mdi.mdi-star
              %span.sidebar__nav__text  Favorites
          %li
            %a.sidebar__nav__link{:href => searchGame_path, "data-method" => "get"}
              %i.mdi.mdi-database-search
              %span.sidebar__nav__text Search
          %li
            %a.sidebar__nav__link{:href => friends_path, "data-method" => "get"}
              %i.mdi.mdi-account-multiple
              %span.sidebar__nav__text Friends
          %li
            %a.sidebar__nav__link{:href => myProfile_path, "data-method" => "get"}
              =image_tag (User.find(@user).avatar), class: "img3"
              %span.sidebar__nav__text My account
          %li
            %a.sidebar__nav__link{:href => login_path, "data-method" => "delete"}
              %i.mdi.mdi-logout-variant
              %span.sidebar__nav__text Log out 
          %li
            %a.sidebar__nav__link{:href => contactUs_path, "data-method" => "get"}
              %i.mdi.mdi-information
              %span.sidebar__nav__text Contact us
    %br/
    %h1 Game info
    %div.page-content
      %br
        %ul
          %li.left
            %img.fullSize{:alt => "Game image cover", :src => "#{@games.cover}"}
            %br
            %br
            %br
            - score = 0
            - @review.each do |review|
              - score = score+review.score
            - @aux.each do |aux|
              - score = score+aux.score
            - score = score/(@review.length+@aux.length) 
          %li.gameInfo
            %h2 Title: #{@games.title}
            %h4 Developer: #{@games.developer}
            %h4 Genre: #{@games.genre}
            %h4 Platform: #{@games.platform}   
            %h4 Score:
            - if (score==0)
              %h4 Score: 
              %h5 No review
            - elsif (score==1)
              %div.gameStar
                %i.mdi.mdi-star.reviewStar
            - elsif (score==2)
              %div.gameStar
                %i.mdi.mdi-star.reviewStar
                %i.mdi.mdi-star.reviewStar
            - elsif (score==3)
              %div.gameStar
                %i.mdi.mdi-star.reviewStar
                %i.mdi.mdi-star.reviewStar
                %i.mdi.mdi-star.reviewStar
            - elsif (score==4)
              %div.gameStar
                %i.mdi.mdi-star.reviewStar
                %i.mdi.mdi-star.reviewStar
                %i.mdi.mdi-star.reviewStar
                %i.mdi.mdi-star.reviewStar
            - else
              %div.gameStar
                %i.mdi.mdi-star.reviewStar
                %i.mdi.mdi-star.reviewStar
                %i.mdi.mdi-star.reviewStar
                %i.mdi.mdi-star.reviewStar
                %i.mdi.mdi-star.reviewStar
            %h4 Release date: #{@games.release_date.strftime('%d %B %Y')}
            %br
            - if @library.exists?(:game_id => @games)
              %a.buttonSmall{:href => myLibrary_path, "data-method" => "get"}
                %span.sidebar__nav__text Already in library
            - else
              %a.buttonSmall{:href => game_mylibraries_path(@games), "data-method" => "post"}
                %i.mdi.mdi-plus
                %span.hidden . 
                %span.sidebar__nav__text Add to library 
            %a.buttonSmall{:href => "https://www.amazon.it/s?k=#{@games.title}&i=videogames", :target => "_blank"}
              %i.mdi.mdi-amazon
              %span.hidden . 
              %span.sidebar__nav__text BUY
          %div.right3
            .reviewHeader
              - if (@review.exists?(:user_id => @user))
                %a{:href => edit_game_review_path(@games.id,@review[0].id)}
                  %h6.right5 Edit review
                  %i.mdi.mdi-pencil.right5
              -else 
                %a{:href => new_game_review_path(@games), "data-method" => "get"}
                  %h6.right5 Add a review
                  %i.mdi.mdi-plus.right5
              %h5 Reviews
              -if (@review.length==0 && @aux.length==0)
                %h5.reviewText This game doesen't have any review
            .reviewDiv
              - @review.each do |review|
                - @users = User.where(:id => review.user_id)[0]
                .reviewUser
                  =image_tag (User.find(@user).avatar) ,class: "reviewImg"
                  %a{:href => myProfile_path(@users.id), "data-method" => "get"} Your review
                  - if (review.score==1)
                    %i.mdi.mdi-star.reviewStar.right4
                  - elsif (review.score==2)
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                  - elsif (review.score==3)
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                  - elsif (review.score==4)
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                  - else
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4                
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                  %div{:href => "#"}
                  - if (review.comments != "")
                    %h5.reviewText #{review.comments}
              - @aux.each do |review|
                - @users = User.where(:id => review.user_id)[0]
                .reviewUser
                  =image_tag (User.find(@users.id).avatar) ,class: "reviewImg"
                  %a{:href => visit_profile_path(@users.id), "data-method" => "get"} #{@users.username}
                  - if (review.score==1)
                    %i.mdi.mdi-star.reviewStar.right4
                  - elsif (review.score==2)
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                  - elsif (review.score==3)
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                  - elsif (review.score==4)
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                  - else
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4                
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                  %div{:href => "#"}
                  - if (review.comments != "")
                    %h5.reviewText #{review.comments}
    .backgroundImg2
      - background = "backgroundSimple.png"
      =image_tag (background), class: "background2"
      .overlay