%h2 Edit Review

= form_tag movie_review_path(@movie,@reviews), :method => :put do

    = label :review, :potatoes, 'Voto'
    = select :review, :potatoes, [1,2,3,4,5]

    = label :review, :comments, 'Commenti'
    = text_field :review, :comments

    = submit_tag 'Save Changes'
