%h2 Create a new review

= form_tag movie_reviews_path, :method => :post do

    = label :review, :potatoes, 'Voto'
    = select :review, :potatoes, [1,2,3,4,5]

    = label :review, :comments, 'Commento'
    = text_field :review, :comments

    = submit_tag 'Save'
